.sk_theme {
    font-family: Input Sans Condensed, Charcoal, sans-serif;
    font-size: 10pt;
    
    --fg: #c0caf5;
    --bg: #1a1b26;
    --bg2: #15161e;
    --sel-bg: #33467c;
    --cyan: #7dcfff;
    --green: #9ece6a;
    --magenta: #bb9af7;
    --red: #f7768e;
    --yellow: #e0af68;
    --white: #a9b1d6;
    
    background: var(--bg);
    color: var(--fg);
}
.sk_theme tbody {
    color: var(--bg);
}
.sk_theme input {
    color: var(--fg);
}
.sk_theme .url {
    color: var(--magenta);
}
.sk_theme .annotation {
    color: var(--cyan);
}
.sk_theme .omnibar_highlight {
    color: var(--cyan);
}
.sk_theme .omnibar_timestamp {
    color: var(--fg);
}
.sk_theme .omnibar_visitcount {
    color: var(--fg);
}
.sk_theme #sk_omnibarSearchResult ul li:nth-child(odd) {
    background: var(--bg2);
}
.sk_theme #sk_omnibarSearchResult ul li.focused {
    background: var(--sel-bg);
}
.sk_theme .omnibar_folder {
    color: var(--green);
}
.sk_theme .separator {
    color: var(--green);
}

.sk_theme .prompt {
    color: var(--white);
}

.ace_editor {
    font-size: 10pt;
    
    --fg; #c0caf5;
    --bg: #1a1b26;

    background: var(--bg);
    color: var(--fg);
}

#sk_status, #sk_find {
    font-size: 20pt;
}
